.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: #13a4a4;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color: white;
    padding: 5px;
    text-decoration: none;
}

/*Pseudoclases - Definen el estilo de un estado*/
.main-nav__item a:hover {
    color: blue;
}

.main-nav__item a:active {
    color: red;
}

/*Pseudoelemenos - Definen el estilo de un elemento*/
.main-nav__item a::after {
    content: " | ";
}